= form_for @startup do |f|
  - if @startup.errors.any?
    #error_explanation
      %h2= "#{pluralize(@startup.errors.count, "error")} prohibited this startup from being saved:"
      %ul
        - @startup.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :logo
    = f.text_field :logo
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :youtube
    = f.text_field :youtube
  .field
    = f.label :facebook
    = f.text_field :facebook
  .field
    = f.label :twitter
    = f.text_field :twitter
  .field
    = f.label :crunchbase
    = f.text_field :crunchbase
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
