%p#notice= notice

%p
  %b Name:
  = @startup.name
%p
  %b Description:
  = @startup.description
%p
  %b Logo:
  = @startup.logo
%p
  %b Url:
  = @startup.url
%p
  %b Youtube:
  = @startup.youtube
%p
  %b Facebook:
  = @startup.facebook
%p
  %b Twitter:
  = @startup.twitter
%p
  %b Crunchbase:
  = @startup.crunchbase
%p
  %b User:
  = @startup.user_id

= link_to 'Edit', edit_startup_path(@startup)
\|
= link_to 'Back', startups_path
